*, *::before, *::after { box-sizing: border-box; }

body {
    font-family: 'Raleway', sans-serif;

}

.page-container {
    padding: 10px 25px;
    
}

.nav-bar {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding-inline-start: 0px;

}

.nav-item {
    list-style: none;
    margin-right: 60px;
    font-size: 16px;

} 

.nav-item:first-child {
    margin-right: auto;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding-top: 73px;

}

.nav-item a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;

}

h1 {
    font-size: 24px;
    margin: 0px 0px;

}

.sub-title {
    margin: 8px 0px;
    font-size: 16px;
    
}

.search-bar {
    margin: 20px 0px;

}

.search-field {
    font-family: 'Raleway';
    font-weight: bold;
    width: 200px;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding: 10px;
    vertical-align: middle;
    margin-inline: -5px;

}

.search-field::placeholder{
    color: black;
    font-size: 16px;

}

.search-button {
    background-color: #0065fc;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
    padding: 10px 20px;
    vertical-align: middle;
    
}

.filter-buttons {
    display: inline-flex;
    height: 40px;
    padding: 0px;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin: 10px 10px;
    
}

.filter-button-text {
    display: inline-flex;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    padding: 0px;
    padding-left: 8px;
    padding-right: 16px;
    height: 100%;

}

.filter-button-icons {
    display: inline-flex;
    align-items: center;
    padding: 0px 12px;
    height: 100%;
    background-color: #deebff;
    border-radius: 20px;

}

.filter-buttons:hover {
    background-color: #0065fc;
    color: white;
    border: 2px solid white;

}